// POPPINS
@font-face {
  font-family: Poppins;
  font-weight: 300;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 700;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Grifter;
  src: url("../fonts/grifter.otf");
}

@font-face {
  font-family: Hunterra;
  src: url("../fonts/Hunterra.ttf");
}


//
html body {
  @apply font-body antialiased;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  @apply font-display;
}

:root {
  --font-display: Grifter;
  --font-body: Grifter;
  letter-spacing: 1px;
}

.theme-animals {
  --font-display: Grifter;
  --font-body: Grifter;
}

.nft-name {
  font-family: Poppins;
}